<div class="my-container container">
  <div class="row mb-5">
    <h1>トップページ</h1>
  </div>
  
  <div class="row">
    <i class="fas fa-crown fa-lg"></i>
    <h4>人気ランキング</h4>
  </div>
  
  <div class="row mb-5">
    <% @ranks.each.with_index(1) do |comic, i| %><%#いいねランキング%>
      <div class="col mr-4">
        第<%= i %>位
        <%= link_to comic_path(comic.id), class: "link" do %>
          <div>
            <% if comic.thumbnail.attached? %> <%#サムネイルを表示する%>
              <%= image_tag comic.thumbnail, size: "200x200" %>
            <% else %>
              <%= image_tag '2389161.jpg', size: "200x200" %>
            <% end%>
          </div>
          <div><%= comic.name %></div>
        <% end %>
          <div>
            <%= render 'layouts/likes', comic: comic %><%#左側のcomicは部分テンプレート5行目のcomicに合わせている。右側のcomicは17行目の|comic|に合わせている。%>
          </div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <i class="far fa-lightbulb fa-2x"></i>
    <h4>新着漫画</h4>
  </div>
  
  <div class="row">
    <% @new_comics.each do |comic| %><%#新着漫画%>
      <div class="mr-3">
        <%= link_to comic_path(comic.id) do %>
          <div>
            <% if comic.thumbnail.attached? %> <%#サムネイルを表示する%>
              <%= image_tag comic.thumbnail, size: "125x125" %>
            <% else %>
              <%= image_tag '2389161.jpg', size: "125x125" %>
            <% end%>
          </div>
          <div><%= comic.name %></div>
        <% end %>
          <div>
            <%= render 'layouts/likes', comic: comic %><%#左側のcomicは部分テンプレート5行目のcomicに合わせている。右側のcomicは17行目の|comic|に合わせている。%>
          </div>
      </div>
    <% end %>
  </div>
  
  <%= paginate @new_comics %>
</div>
