<div class="container">
  <div class="row mb-5">
    <div class="col-4 text-right">
      <h1>ジャンル別一覧</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= render 'public/genres/genresearch', genres: @genres %>
    </div>
  
    <div class="col-10 d-flex">
      <% @searchs.each do |search| %>
        <%= link_to comic_path(search.id) do %>
          <div>
            <% if search.thumbnail.attached? %> <%#サムネイルを表示する%>
              <%= image_tag search.thumbnail, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
          </div>
          <div><%= search.name %></div>
        <% end %>
          <div>
            <%= render 'layouts/likes', comic: search %>
          </div>
      <% end %>
    </div>
  </div>
</div>
