<div class="container">
  <div class="row mb-5">
    <h1>
      <%= @user.full_name %>さんの<strong>会員情報編集</strong>
    </h1>
  </div>
  
  <div class="row">
    <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
      <div class="mb-2">
        会員ID
        <%= @user.id %>
      </div>
    
      <div class="from-group mb-2">
        <%= f.label :last_name, "姓　" %>
        <%= f.text_field :last_name, autofocus: true %>
        <%= f.label :first_name, "名　" %>
        <%= f.text_field :first_name %>
      </div>
      
      <div class="from-group mb-2">
        <%= f.label :last_name_kana, "セイ" %>
        <%= f.text_field :last_name_kana %>
        <%= f.label :first_name_kana, "メイ" %>
        <%= f.text_field :first_name_kana %>
      </div>
      
      <div class="from-group mb-2">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </div>
      
      <div>
        会員ステータス
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, "有効" %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, "退会" %>
      </div>

      <div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>