<div class="container">
  <div class="row mb-3">
    <h1>
      <%= @user.full_name %>さんの<strong>会員詳細</strong>
    </h1>
  </div>
  
  <div class="row">
    <div class="col-5">
      <table class="table">
      <tr>
        <th>会員ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= @user.first_name_kana %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <% if @user.is_deleted == false %>
           <td class="text-success font-weight-bold">有効</td>
        <% else %>
          <td class="text-secondary font-weight-bold">退会</td>
        <% end %>
      </tr>
    </table>
    </div>
  </div>
    
  <div class="row">
    <%= link_to "編集する", edit_admin_user_path, class: "btn btn-success" %>
  </div>
</div>