<div class="container">
  <div class="row">
    <div class="col-3 text-right">
      <h1>漫画編集</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <table>
        <%= form_with model: @comic, url: comics_path, method: :patch, local: true do |f| %>
          <tr>
            <td><%= f.label :image, '漫画画像' %></td>
            <td><%= f.file_field :images, multiple: true %></td>
          </tr>
          
          <tr>
            <td><%= f.label :name, '漫画名' %></td>
            <td><%= f.text_field :name, placeholder: '漫画名' %></td>
          </tr>
          
          <tr>
            <td><%= f.label :introduction, '漫画説明欄' %></td>
            <td><%= f.text_area :introduction, placeholder: 'ここに説明文を記述します' %></td>
          </tr>
          
          <tr>
            <td><%= f.label :genre_id, 'ジャンル' %></td>
            <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),prompt: "-- 選択してください --" %></td>
          </tr>
          
          <tr>
            <td></td>
            <td></td>
            <td><%= f.submit '保存', class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>