<div class="container">
  <div class="row">
    <div class="col-3 text-right">
      <h1>漫画編集　</h1>
      
      <%= link_to "　削除　",  comic_path(@comic.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    </div>
  </div>
  
  <div class="row">
    <%= form_with model: @comic, url: comic_path, method: :patch, local: true do |f| %>
      <div class="from-group mb-2">
        <%= f.label :image, '漫画画像' %>
        <%= f.file_field :images, multiple: true %>
      </div>
      
      <div class="from-group mb-2">
        <%= f.label :name, '漫画名' %>
        <%= f.text_field :name, placeholder: '漫画名' %>
      </div>
      
      <div class="from-group mb-2">
        <%= f.label :introduction, '漫画説明欄' %>
        <%= f.text_area :introduction, placeholder: 'ここに説明文を記述します' %>
      </div>
      
      <div class="from-group mb-2">
        <%= f.label :genre_id, 'ジャンル' %>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name),prompt: "-- 選択してください --" %>
      </div>
      
      <div>
        <%= f.submit '保存', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>