<div class="container">
  <div class="row mb-3">
    <div class="col-3 text-right">
      <h1>漫画一覧</h1>
    </div>
    
    <div class="col-6"></div>
    
    <%= link_to new_comic_path do %>
      <i class="fas fa-pen-fancy color fa-lg"></i>
    <% end %>
    <h5><%= link_to '投稿はこちらから', new_comic_path %></h5>
  </div>
  
  <div class="row">
      <%= render 'public/genres/genresearch', genres: @genres %>
    
    <% @comics.each do |comic| %>
      <table>
        <tr>
          <td>
            <%= link_to comic_path(comic.id) do %>
              <% if comic.thumbnail.attached? %> <%#サムネイルを表示する%>
                <%= image_tag comic.thumbnail, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: "100x100" %>
              <% end%>
          </td>
          <td><%= comic.name %></td>
            <% end %>
          <td><%= render 'layouts/likes', comic: comic %></td>    <%#左側のcomicは部分テンプレート5行目のcomicに合わせている。右側のcomicは17行目の|comic|に合わせている。%>
        </tr>
      </table>
    <% end %>
      
      
  </div>
  
  <div class="row">
    <% @search_comic.each do |comic| %>
      <%= link_to comic_path(comic.id) do %>
          <% if comic.thumbnail.attached? %> 
            <%= image_tag comic.thumbnail, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100" %>
          <% end%>
          
          <%= comic.name %>
        <% end %>
        
        <%= render 'layouts/likes', comic: comic %>
    <% end %>
  </div>
</div>