<div class="container">
  <div class="row mb-5">
    <div class="col-3 text-right">
      <h1>漫画一覧</h1>
    </div>
    
    <div class="col-6"></div>
    
    <%= link_to new_comic_path do %>
      <i class="fas fa-pen-fancy color fa-lg"></i>
    <% end %>
    <h5><%= link_to '投稿はこちらから', new_comic_path %></h5>
  </div>
  
  <div class="row">
    <div class="col-2">
      <%= render 'public/genres/genresearch', genres: @genres %>
    </div>
    
    <div class="col-10 mr-3 d-flex">
      <% @comics.each do |comic| %>
        <%= link_to comic_path(comic.id) do %>
          <div>
            <% if comic.thumbnail.attached? %> <%#サムネイルを表示する%>
              <%= image_tag comic.thumbnail, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "125x125" %>
            <% end%>
          </div>
          <div><%= comic.name %></div>
        <% end %>
          <div>
            <%= render 'layouts/likes', comic: comic %>    <%#左側のcomicは部分テンプレート5行目のcomicに合わせている。右側のcomicは17行目の|comic|に合わせている。%>
          </div>
      <% end %>
    </div>
  </div>
</div>