<div class="container">
  <div class="row mb-5">
    <h1><%= @comic.name %>　</h1>
    
    <div class="vertical-middle">
      <%= render 'layouts/likes', comic: @comic %>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col">
      <div class="mb-2">
        <% if @comic.thumbnail.attached? %> <%#サムネイルを表示する%>
          <%= image_tag @comic.thumbnail, size: "570x300" %>
        <% else %>
          <%= image_tag '2389161.jpg', size: "200x200" %>
        <% end%>
      </div>
      <div>
        <%= link_to "　読む　", comic_page_path(@comic.id), class: "btn btn-info" %>
        <% if @user == @current_user %>
          <%= link_to "編集する", edit_comic_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    
    <div class="col">
      <table class="table table-striped">
        <tr>
          <th>名前</th>
          <td><%= @comic.name %></td>
        </tr>
        <tr>
          <th>投稿者</th>
          <td>
            <%= link_to user_my_page_path(@comic.user_id) do %>
              <%= @comic.user.full_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>紹介</th>
          <td><%= @comic.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <%= render 'layouts/comments', comic: @comic %>
    <%= render 'layouts/comment_form', comic: @comic, comment: @comment %>
  </div>
</div>