<div class="container">
  <div class="row mb-5">
    <h1>ログイン</h1>
  </div>
  
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password, 'パスワード' %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    
    <div class="row mb-2">
      <h5 class="col col-md-3 offset-md-3 text-center mt-4" style="background-color:#DDD">
        <strong>会員登録がお済い方</strong>
      </h5>
    </div>
    <div class="row mb-5 mt-3">
      <div class="col col-md-8 offset-md-4">
        <p><%= link_to "こちら", new_user_registration_path %>　から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>