<div class="container">
  <div class="row">
    <div class="col-2">
      <strong>会員情報変更</strong>
    </div>
  </div>
  
  <div class="row">
    <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
      <div class="field">
        <%= f.label :last_name, "姓　" %>
        <%= f.text_field :last_name, autofocus: true %>
        <%= f.label :first_name, "名　" %>
        <%= f.text_field :first_name %>
      </div>
      
      <div class="field">
        <%= f.label :last_name_kana, "セイ" %>
        <%= f.text_field :last_name_kana %>
        <%= f.label :first_name_kana, "メイ" %>
        <%= f.text_field :first_name_kana %>
      </div>
      
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </div>
      
      <div class="row">
        <div class="actions col col-md-2 offset-md-4">
          <%= f.submit "　　編集内容を保存　　", class:"btn btn-success" %>
        </div>
    <% end %>
        <div class="actions col col-md-2 offset-md-2">
          <%= link_to "　退会する　", users_unsubscribe_path, class: "btn btn-danger" %>
        </div>
      </div>
    
  </div>
</div>