<div class="container">
  <div class="row mb-5">
      <h1>マイページ</h1>
  </div>
  
  <div class="row mb-3">
      <h4>登録情報</h4>
    
    <div class="col-6"></div>
    
    <div class="col-3 text-left">
      <%= link_to "編集する", users_information_edit_path, class: "btn btn-success" %>
    </div>
  </div>
  
  <div class="row-4 mb-5">
    <table class="table col col-md-8 " border="2">
      <tr>
        <td>氏名</td>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @user.full_name_kana %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>
  
  <div class="row mb-3">
    <h4>投稿した一覧</h4>
  </div>
  
  <div class="row d-flex">
    <% @comics.each do |comic| %>
      <div class="mr-3">
        <%= link_to comic_path(comic.id) do %>
          <div>
            <% if comic.thumbnail.attached? %>    <%#サムネイルを表示する%>
              <%= image_tag comic.thumbnail, size: "125x125" %>
            <% else %>
              <%= image_tag '2389161.jpg', size: "125x125" %>
            <% end%>
          </div>
          <div><%= comic.name %></div>
        <% end%>
        <div>
          <%= render 'layouts/likes', comic: comic %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row mb-3">
    <h4>いいね一覧</h4>
  </div>
  
  <div class="row d-flex">
    <% @like_comics.each do |comic| %>
      <div class="mr-3">
        <%= link_to comic_path(comic.id) do %>
          <div>
            <% if comic.thumbnail.attached? %>    <%#サムネイルを表示する%>
              <%= image_tag comic.thumbnail, size: "125x125" %>
            <% else %>
              <%= image_tag '2389161.jpg', size: "125x125" %>
            <% end%>
          </div>
          <div><%= comic.name %></div>
        <% end%>
        <div>
          <%= render 'layouts/likes', comic: comic %>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= paginate @like_comics %>
</div>

