<div class="container">
  <div class="row mb-3">
    <h1>漫画一覧</h1>
  </div>
  
  <div class="row">
    <table class="table table-striped" border="3">
      <thead class="thead-dark">
        <tr>
          <th>漫画ID</th>
          <th>サムネイル</th>
          <th>漫画名</th>
          <th>投稿者</th>
          <th>いいね数</th>
        </tr>
      </thead>
      <tbody>
        <% @comics.each do |comic| %>
          <tr>
            <td><%= comic.id %></td>
            <td>
              <%= link_to admin_comic_path(comic.id) do %>
                <% if comic.thumbnail.attached? %> <%#サムネイルを表示する%>
                  <%= image_tag comic.thumbnail, size: "70x70" %>
                <% else %>
                  <%= image_tag '2389161.jpg', size: "70x70" %>
                <% end%>
              <% end%>
            </td>
            <td>
              <%= link_to admin_comic_path(comic.id), class: "link" do %>
                <%= comic.name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(comic.user.id), class: "link" do %>
                <%= comic.user.full_name %>
              <% end %>
            </td>
            <td><%= comic.likes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= paginate @new_comics %>
</div>