<div class="container">
  <div class="row">
    <div class="col-2">
      <a href="/">ROGO</a>
    </div>
    
    <% if user_signed_in? %>
    <div class="col-5 offset-5 pull-right d-flex align-items-center">
      <button type="button" class="btn btn-light"><%= link_to 'マイページ', users_my_page_path %></button>
      <button type="button" class="btn btn-light"><%= link_to '漫画一覧', comics_path %></button>
      <button type="button" class="btn btn-light"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></button>
    </div>
    <% elsif admin_signed_in? %>
    <div class="col-5 offset-5 pull-right d-flex align-items-center">
      <button type="button" class="btn btn-light"><%= link_to '漫画一覧', admin_comics_path %></button>
      <button type="button" class="btn btn-light"><%= link_to '会員一覧', admin_users_path %></button>
      <button type="button" class="btn btn-light"><%= link_to 'ジャンル一覧', admin_genres_path %></button>
      <button type="button" class="btn btn-light"><%= link_to 'ログアウト',  destroy_admin_session_path, method: :delete %></button>
    </div>
    <% else %>
    <div class="col-5 offset-5 pull-right d-flex align-items-center">
      <button type="button" class="btn btn-light"><%= link_to '漫画一覧', comics_path %></button>
      <button type="button" class="btn btn-light"><%= link_to '新規登録', new_user_registration_path %></button>
      <button type="button" class="btn btn-light"><%= link_to 'ログイン', new_user_session_path %></button>
    </div>
    <% end %>
  </div>
  
  <div class="row">
    <dl class="searchbox">
      <%= search_form_for @search, url: comics_path do |f| %>
        <dt><%= f.text_field :name_cont, placeholder: '検索するテキストを入力' %></dt>
        <dd><%= f.submit '検索', class: 'search-btn' %></dd>
      <% end %>
    </dl>
  </div>
</div>